@use "../utils/" as u;
@use "../global/colors" as colors;

.add-events {
  position: absolute;
  @include u.box-size(70%, 100%);
  width: 70%;
  height: 100%;
  left: 0;
  transition: 0.4s;

  @media (max-width: 1080px) {
    @include u.box-size(100%, 100%);
  }

  &__ctnr {
    position: relative;
  }

  &__exit-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;

    &, & img {
      @include u.box-size(15px, 15px);
    }
  }

  &__form {
    @include u.box-size(400px, 300px);
    @include u.flex-align(center, center);
    background-color: lightgrey;
    flex-direction: column;
    gap: 20px;

    &, & button {
    border-radius: 20px;
    }

    & button {
      border: 1px solid colors.$color-dark-2;
      padding: 10px 20px;
      background-color: colors.$color-light-1;
    }
  }
}