@use "../utils" as u;
@use "../global/colors" as colors;

.calendar {
  @include u.box-size(100%, 70%);
  background-color: lightgrey;
  flex-direction: column;
  transition: 0.4s;

  @media (max-width: 1080px) {
    @include u.box-size(100%, 100%);
  }

  &__date-ctnr {
    width: 90%;
    position: relative;
    text-align: center;
    gap: 20px;

    @media (max-width: 1080px) {
      margin: 20px 0 0 0;
    }

    @media (max-width: 480px) {
      gap: 0;
    }
    
    &__reload-today,
    &__add-event-btn {
      background-color: colors.$color-light-1;
      border: 1px solid colors.$color-dark-2;;
    }
  
    &__reload-today {
      border-radius: 20px;
      @include u.box-size(40px, 60px);

      @media (max-width: 480px) {
        height: 30px;
      }
    }

    &__add-event-btn {
      @include u.box-size(40px, 40px);
      border-radius: 5px;

      @media (max-width: 480px) {
        height: 30px;
      }
    }
  }

  &__month-year {
    @include u.box-size(40px, max(400px, 30%));

    @media (max-width: 1080px) {
      width: 350px;
    }

    button {
      @include u.box-size(40px, 40px);
      background-color: transparent;

      img {
        @include u.box-size(100%, 100%);
      }
    }
    
    h1 {
      width: 300px;

      @media (max-width: 1080px) {
        width: 200px;
      }

      @media (max-width: 480px) {
        width: 120px;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px repeat(6, 1fr);
    @include u.box-size(85%, 95%);
    border: 1px solid colors.$color-dark-1;
    background-color: colors.$color-dark-1;
    gap: 1px;
    margin: 20px;

    @media (max-width: 1080px) {
      @include u.box-size(100%, 100%);
      margin: 20px 0 0 0;
    }
  }

  &__day-name {
    @include u.box-size(100%, auto);
    background-color: colors.$color-light-1;

    &:is(:nth-child(7n-6), :nth-child(7n)) {
      background-color: colors.$color-light-2;
    }
  }

  &__day {
    @include u.box-size(100%, 100%);
    background-color: colors.$color-light-1;

    &__select-btn {
      @include u.box-size(100%, 100%);
      @include u.flex-align(space-between, flex-start);
      flex-direction: column;
      background-color: transparent;
      padding: 10px;
      
      p {
        @include u.box-size(40px, 40px);
        @include u.flex-align(center, center);
        border-radius: 50%;

        @media (max-width: 1080px) {
          @include u.box-size(30px, 30px);
        }

        @media (max-width: 480px) {
          @include u.box-size(22px, 22px);
        }
      }
      
      @media (max-width: 1080px) {
        padding: 5px;
      }
    }

    &:is(:nth-child(7n-6), :nth-child(7n)) {
      background-color: colors.$color-light-2;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: rgb(130, 168, 202);
      }
    }
  }

  &__empty {
    pointer-events: none; 
  }
}
