@use "../utils/" as u;
@use "../global/colors" as colors;

/* Event Section */
.events {
  @include u.box-size(100%, max(300px, 30%));
  background-color: rgb(240, 240, 240);
  transition: 0.4s;
  flex-direction: column;
  position: relative;
  padding: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; // hide scrollbar for IE, Edge
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1080px) {
    @include u.box-size(40%, 100%); 
  }

  &__today {
    @include u.box-size(100%, 100%);
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2rem;
  }

  &__today-list {
    flex-direction: column;
    width: 90%;
    
    button {
      @include u.flex-align(center, center);
      @include u.box-size(100px, 100%);
      font-size: 1.6rem;
      margin-top: 10px;
      border: 1px solid colors.$color-dark-2;
    }

    button:last-of-type {
      margin-bottom: 10px;
    }
  }
}