* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.App {
  background-color: rgb(240 , 240, 240);
  width: 100vw;
  height: 100vh;
  display: flex;
}

.navbar {
  width: 20%;
  background-color: grey;
}

.calendar-ctnr {
  width: 80%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.calendar-grid {
  width: 90%;
  height: 85%;
  border: 1px solid black;
}