/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
html {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  height: 100vh;
  color: rgb(45, 55, 55);
}

body {
  font-size: 1.4rem;
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
}

div, #dialog-content, button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
}

.App {
  background-color: rgb(240 , 240, 240);
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}

/* Calendar Section */

.calendar {
  width: 70%;
  height: 100%;
  background-color: lightgrey;
  flex-direction: column;
  transition: 0.4s;
}

.calendar__date-ctnr {
  text-align: center;
  width: 90%;
  position: relative;
  gap: 20px;  
}

.calendar__date-ctnr button {
  width: 40px;
  height: 40px;
  background-color: transparent;
}

.calendar__date-ctnr .calendar__reload-today {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(45, 55, 55);
  border-radius: 20px;
  width: 60px;
  font-size: 1.6rem;
}

.calendar__date-ctnr .calendar__add-event-btn {
  font-size: 2.8rem;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(45, 55, 55);
  border-radius: 5px;
}

.calendar__date-ctnr button img {
  width: 100%;
  height: 100%;
}

.calendar__month-year {
  height: 40px;
  width: max(400px, 30%);
}

.calendar__month-year h1 {
  width: 300px;
}

.calendar__grid {
  width: 90%;
  height: 85%;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(6, 1fr);
  background-color: grey;
  gap: 1px;
  margin: 20px;
}

.calendar__day-name {
  width: auto;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.calendar__day-name:is(:nth-child(7n-6), :nth-child(7n)) {
  background-color: rgb(180, 180, 180);
  color: rgb(140, 0, 0);
}

.calendar__day {
  width: auto;
  height: 100%;
  background-color: rgb(240, 240, 240);
}

.calendar__day:is(:nth-child(7n-6), :nth-child(7n)) {
  background-color: rgb(180, 180, 180);
}

.calendar__day.calendar__empty {
  pointer-events: none;
}

.calendar__day > button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.calendar__day > button > p {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
}

.calendar__day.calendar__day-selected > button > p {
  background-color: lightblue;
}

/* Event Section */
.events {
  width: max(300px, 30%);
  height: 100%;
  background-color: rgb(240, 240, 240);
  transition: 0.4s;
  flex-direction: column;
}

.events__today, .events__all {
  width: 100%;
  height: 50%;
  flex-direction: column;
  font-size: 2rem;
}

.events__today {
  border-bottom: 1px solid grey;
}

/* Hover Effects */
@media (hover: hover) and (pointer: fine) {
  .calendar__day:hover {
    background-color: rgb(130, 168, 202);
  }
}

/* Repsonsive */
@media (max-width: 1080px) {
  .App {
    flex-direction: column;
    transition: 0.4s;
  }

  .calendar {
    width: 100%;
  }

  .calendar__grid {
    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
  }

  .calendar__month-year {
    width: 350px;
  }

  .calendar__date-ctnr {
    margin: 20px 0 0 0;
  }

  .calendar__month-year h1 {
    width: 200px;
    font-size: 2.4rem;
  }

  .calendar__day > button {
    padding: 5px;
  }

  .calendar__day > button > p {
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
  }

  .events {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .calendar__date-ctnr {
    gap: 0;
  }

  .calendar__reload-today, .calendar__add-event-btn {
    height: 30px;
  }

  .calendar__reload-today {
    font-size: 1.2rem;
  }

  .calendar__add-event-btn {
    font-size: 2rem;
  }

  .calendar__month-year h1 {
    width: 120px;
    font-size: 1.6rem;
  }
}